#include "../runtime/functional.h"
#include "../runtime/Connection.h"
  
// Weights
float const w_inhid_${type}[] = $w_inhid;

// post, pre, w
ConnectionConf const conf_${type}_inhid = {1, $hidden_size, w_inhid_${type}};
